@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Mathews</h1>
    <p>PowerShell - Git Integration - 26th Oct 2024</p>
</div>
